@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 213, 248, 255;
  --background-start-rgb: 88, 183, 227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top left,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
